.navbar {
  margin: 0px 25vw;
}

/* For keeping footer at the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
/*  */

.img-container {
  padding-top: 100%;
  position: relative;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-buttons {
  display: block;
  padding: 5px;
}

.SignOut{
  right: 800px;
  top: 50px;
}

.icon{
  width: 50px;
}
a:link{
  text-decoration: none;
}
.the-blur-screen{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(transparent 10%, grey 85%);  
  display: flex;
  align-items: center;
  visibility: hidden;
}
.login-signUp-prompt{
  background: white;
  border-radius: 10px;
  text-align: center;
}

/* Bookmark star button stuff */
.bookmark-bttn {
  background: none;
  border: none;
  color: #ffc107;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.bookmark-bttn:hover {
  color: #ff9800;
}

.bookmark-bttn:focus {
  outline: none;
}
/*  */