.navbar {
  margin: 0px 25vw;
}

/* For keeping footer at the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}
/*  */

.img-container {
  padding-top: 100%;
  position: relative;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-buttons {
  display: block;
  padding: 5px;
}

.SignOut{
  right: 800px;
  top: 50px;
}

.icon{
  width: 50px;
}
a:link{
  text-decoration: none;
}
.the-blur-screen{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(transparent 10%, grey 85%);  
  display: flex;
  align-items: center;
  visibility: hidden;
}
.login-signUp-prompt{
  background: white;
  border-radius: 10px;
  text-align: center;
}

/* Bookmark star button stuff */
.bookmark-bttn {
  background: none;
  border: none;
  color: #ffc107;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.bookmark-bttn:hover {
  color: #ff9800;
}

.bookmark-bttn:focus {
  outline: none;
}
/*  */

.mobile-button {
  position: fixed;
  bottom: 20px;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  display: flex;
}

#sidebarToggleBtn {
  left: 20px;
}

#filterToggleBtn {
  right: 20px;
}

.filter-form-container {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  z-index: 999;
}

.filter-form-container.d-none {
  display: none;
}

label {
  font-size: 16px;
  padding-left: 5px;
}

/* Add spacing between items */
form input[type="checkbox"] + label {
  display: inline-block;
  margin-bottom: 12px;
}

.pagination_logic{
  margin-left: 100%;
}