.navbar {
  margin: 0px 25vw;
}

.img-container {
  padding-top: 100%;
  position: relative;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-buttons {
  display: block;
  padding: 5px;
}

.SignOut{
  right: 800px;
  top: 50px;
}

.icon{
  width: 50px;
}